body {
    margin :0
}

header > img {
    max-height: 10vh;
    object-fit: cover;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.nav_enlaces {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex ;
    flex-wrap: wrap;
}

.nav_enlaces li {
    display:inline-block;
    padding:10px 20px;
}

.nav_enlaces li a {
    transition: all 0.5s ease 0s;
    padding: 10px;
}


.nav_enlaces li a:hover {
    background-image: linear-gradient(to right, #3FA535 , #475F51);
    background-size: 200%;
    border-radius: 90px;
    color:#fff;
}

.banner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 35vh;
}

.banner-imagen {
    position: absolute;
    top: -15%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:-2;
}

.banner-imagen > img {
    object-fit: cover;
    width: 100%;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: .4;
    z-index: -1;
}

.banner * {
    display: inline-block;
}

.banner h2 {
    font-size: xxx-large;
}

main h2 {
    margin: 1rem 0;
}

main p {
    margin-bottom: 1rem;
}

main a {
    max-width: fit-content;
}


.btn-consulta{
    background-image: linear-gradient(to right, #3FA535 , #475F51);
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}


svg {
    height: 20px;
    width: 20px;
}

.background-gris {
    background-color: #F4F2F3;
}

.background-blanco {
    background-color: #FFFFFF;
}

.texto-blanco {
    color: #FFFFFF
}

/* Aqui inician los estilos de esta pagina */


@media screen and (max-width: 600px) {
    /* Cuando sea menor de 600 px tendra este acomodo */
    /* Direccion  */
    .direcciones-parent, header , footer {
        flex-direction: column ;
    }

    header > img {
        width: 100%;
    }

}

@media screen and ( min-width: 600px ) {

    /* Direcciones  */
    .direcciones-parent, header, footer {
        flex-direction: row;
    }

    .servicios {
        flex-direction: column;
    }

    header > img {
        width: 30%;
    }
}

@media screen and ( min-width: 1025px ) {

    /* Direcciones */
   .servicios {
       flex-direction: row;
   }

}

/* Mismos tamaños para todas las divs, inicio  */

/* padres */
.servicios , .panel , .columnas-de-algo {
    display: flex;
}


/* hijos */
.servicios > div , .panel > div, .columnas-de-algo > div  {
    flex-basis: 0;
    flex: 1 1 0px;
}

/* Mismos tamaños para todas las divs, fin  */

/* Estilos propios de cada componente  */

.servicios {
    padding: 2rem 3rem;
}

.servicios > div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
}

.servicios > div > h2 {
    font-size: xx-large;
    border-radius: 40px;
    box-shadow: 0 0 16px 8px #9f9f9f;
}

.servicios > div > * {
    padding: 1rem;
}

.mantenimiento > h2 {
    background: linear-gradient(to bottom, #253179, #18204F);
}

.tarjetas > h2 {
    background: linear-gradient(to bottom, #EAC92E, #A08A20) ;
}

.consultas > h2 {
    background: linear-gradient(to bottom, #B91516, #7F0F10);
}

/* panel */

.panel > .panel-image > img {
    width: 100%
}
.panel > .texto > h2 {
    font-size: xxx-large;
}

.columnas-de-algo {
    padding: 5rem;
    justify-content: space-around;
}